<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign in</title>
	</head>
	<body>
		<main>
			<form class="login-form" action="/api/v1/auth/login" method="POST">
				<div class="form-control">
					<label for="client_email">Email</label>
					<input type="email" name="client_email" id="client_email" />
				</div>
				<div class="form-control">
					<label for="client_password">Password</label>
					<input type="password" name="client_password" id="client_password" />
				</div>
				<button type="submit">Sign in</button>
			</form>

			<p>New to this site?</p>
			<a href="/api/v1/auth/register">Create your account</a>
		</main>
	</body>
</html>
