<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create account</title>
	</head>

	<body>
		<main>
			<form class="register-form" action="/api/v1/auth/register" method="POST">
				<div class="form-control">
					<label for="first_name">First Name</label>
					<input type="text" name="first_name" id="first_name" />
				</div>
				<div class="form-control">
					<label for="last_name">Last Name</label>
					<input type="text" name="last_name" id="last_name" />
				</div>
				<div class="form-control">
					<label for="phone_number">Phone Number</label>
					<input type="number" name="phone_number" id="phone_number" />
				</div>
				<div class="form-control">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="form-control">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" />
				</div>
				<button type="submit">Register</button>
			</form>
		</main>
	</body>
</html>
