<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create account</title>
	</head>

	<body>
		<main>
			<form class="register-form" action="/api/v1/auth/register" method="POST">
				<div class="form-control">
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" id="firstName" />
				</div>
				<div class="form-control">
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" id="lastName" />
				</div>
				<div class="form-control">
					<label for="phoneNumber">Phone Number</label>
					<input type="number" name="phoneNumber" id="phoneNumber" />
				</div>
				<div class="form-control">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="form-control">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" />
				</div>
				<button type="submit">Register</button>
			</form>
		</main>
	</body>
</html>
