<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hospital Appointment Scheduler</title>
	</head>

	<body>
		<header class="main-header">
			<nav class="main-header__nav">
				<ul class="main-header__item-list">
					<li class="main-header__item">
						<a class="active" href="/api/v1/users/appointments/clientId"
							>Your appointment</a
						>
					</li>
					<li class="main-header__item">
						<a href="/api/v1/welcome-page">Logout</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<h1>
				This endpoint allows user to schedule appointments with doctors of a
				specified specialization
			</h1>
			<!-- <form
				class="appointment-form"
				action="/api/v1/appointments"
				method="POST"
			>
				<div class="appointment-control">
					<label for="doctorId">doctorId</label>
					<input type="text" name="doctorId" id="doctorId" />
				</div>
				<div class="appointment-control">
					<label for="appointmentTime">appointmentTime</label>
					<input type="text" name="appointmentTime" id="appointmentTime" />
				</div>
				<button type="submit">Create Appointment</button>
			</form> -->

			<form
				class="appointment-form"
				action="/api/v1/appointments"
				method="POST"
			>
				<div class="appointment-control">
					<label for="clientId">clientId</label>
					<input type="text" name="clientId" id="clientId" />
				</div>
				<button type="submit">Get All Appointments</button>
			</form>
		</main>
	</body>
</html>
