<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hospital Appointment Scheduler</title>
	</head>

	<body>
		<header class="main-header">
			<nav class="main-header__nav">
				<ul class="main-header__item-list">
					<li class="main-header__item">
						<a class="active" href="/api/v1/users/appointments"
							>Your appointment</a
						>
					</li>
					<li class="main-header__item">
						<a href="/api/v1/welcome-page">Logout</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<h1>
				This endpoint allows user to schedule appointments with doctors of a
				specified specialization
			</h1>
		</main>
	</body>
</html>
